<ion-content>
  <ion-item>
    <ion-label position="stacked">Product Name</ion-label>
    <ion-input [(ngModel)]="product.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Price</ion-label>
    <ion-input [(ngModel)]="product.price" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Current Stock</ion-label>
    <ion-input [(ngModel)]="product.stock" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input [(ngModel)]="product.address"></ion-input>
  </ion-item>

</ion-content>
